name: Build and Release

on:
  push:
    branches: [master]

permissions:
  contents: write
  packages: write
  actions: read

jobs:
  build-windows:
    name: Build Windows installer
    runs-on: Windows
    steps:
      - name: Clean previous artifacts
        shell: powershell
        run: Remove-Item -Recurse -Force publish, installer -ErrorAction SilentlyContinue

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET 9.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Publish Tool
        shell: powershell
        run: |
          dotnet publish "Multi Saves Backup Tool/Multi Saves Backup Tool.csproj" `
            -c Release -r win-x64 --self-contained true `
            -p:PublishSingleFile=true -p:DebugType=None -p:DebugSymbols=false `
            -o "publish/release"

      - name: Build .exe installer
        shell: cmd
        run: '"C:\Program Files (x86)\Inno Setup 6\ISCC.exe" installer.iss'

      - name: Rename Windows Installer
        id: rename-win
        shell: powershell
        run: |
          if (-Not (Test-Path installer)) { New-Item installer -ItemType Directory } 
          Move-Item installer/*.exe installer/MultiSavesBackupSetup.exe
          Write-Output "::set-output name=file::installer/MultiSavesBackupSetup.exe"

      - name: Verify installer
        shell: cmd
        run: |
          if not exist "installer/MultiSavesBackupSetup.exe" (
            echo Installer file not found! && exit 1
          )

  createrelease:
    name: Create GitHub Release
    runs-on: Linux
    needs:
      - build-windows
    steps:
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.run_number }}.0.0.0
          name: Release v25.A.1.0
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
  uploadwindows:
    name: Upload Windows installer
    runs-on: Windows
    needs:
      - createrelease
      - build-windows
    steps:
      - name: Upload Windows installer
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.run_number }}.0.0.0
          files: installer/MultiSavesBackupSetup.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}